@import url("https://chinese-fonts-cdn.deno.dev/packages/syst/dist/SourceHanSerifCN/result.css");
@import url("./print.css");

:root {
  --body-container-margin: 20vw;
  --text-gray: #898989;
  --border-gray: #c0c0c0;
  --background-gray: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

a:link {
  color: #1944ad;
  text-decoration: none;
}

a:visited {
  color: #170080;
}

a:hover {
  text-decoration: underline;
}

html body {
  font-family: "思源黑体";
}
